"*":
  "exception-reporting":
    userId: "2534520d-b803-a81c-3018-813511cd9a04"
  "release-notes":
    viewedVersion: "0.70.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "590baf78d97b19907653340c69ecccda5d565c5a"
  editor:
    showIndentGuide: true
    softWrap: true
    invisibles:
      {}
    fontFamily: "Source Code Pro"
  core:
    disabledPackages: [
      "welcome"
      "metrics"
      "release-notes"
      "feedback"
      "atom-runner"
      "spell-check"
      "bookmarks"
      "color-picker"
      "keybinding-resolver"
      "emmet"
      "minimap"
      "autosave"
      "regex-railroad-diagram"
    ]
    themes: [
      "atom-dark-syntax"
      "one-dark-ui"
    ]
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "go-plus":
    environmentOverridesConfiguration: false
    goPath: "/Users/alexanderekdahl/go"
    suppressBuiltinAutocompleteProvider: false
  jumpy:
    highContrast: true
  minimap:
    {}
  autosave:
    {}
  tabs:
    alwaysShowTabBar: false
  "file-icons":
    onChanges: true
    forceShow: true
  "autocomplete-plus":
    confirmCompletion: "tab"
    minimumWordLength: 2
  "one-light-ui":
    {}
