"*":
  autosave: {}
  core:
    disabledPackages: [
      "welcome"
      "metrics"
      "release-notes"
      "feedback"
      "atom-runner"
      "spell-check"
      "bookmarks"
      "keybinding-resolver"
      "autosave"
      "status-bar"
      "chary-tree-view"
    ]
    packagesWithKeymapsDisabled: []
    themes: [
      "atom-light-syntax"
      "one-light-ui"
    ]
  editor:
    fontFamily: "SF Mono"
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "2534520d-b803-a81c-3018-813511cd9a04"
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  metrics:
    userId: "590baf78d97b19907653340c69ecccda5d565c5a"
  minimap: {}
  "one-light-ui": {}
  "release-notes":
    viewedVersion: "0.70.0"
  "status-bar": {}
  tabs:
    alwaysShowTabBar: false
  "tree-view": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
